@model CarritoMVC.Models.Categoria

@{
    ViewData["Title"] = "Create";
}
<style>
    .titulo-categorias {
        text-align: center;
        padding-bottom: 30px;
        padding-top: 30px;
    }
</style>
<h1 class="titulo-categorias">Crear categorias</h1>
<hr />
<center>
<div class="row">
    <div class="col-lg-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</center>

<div>
    <a class="btn btn-outline-success" asp-action="Index">Volver a la lista de categorias</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
